#######################
# Unreal Engine Files #
#######################

Build/
Binaries/
DerviedDataCache/
Intermediate/
Saved/
Content/StarterContent

*_BuiltData.uasset


#######################
# Visual Studio Files #
#######################
*.vc.db
